<footer>
  <div class="mx-2 md:mx-16 lg:mx-64 mb-2 md:mb-16 lg:mb-64 p-2 md:p-4 lg:p-8 {{ colors.footerCustom.barBg or colors.footerDefault.barBg }}">
    <div class="sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="flex justify-center md:order-2 {{ colors.socialIconsCustom or colors.socialIconsDefault }}">
        {% if structure.g_showFooterSocialIcons %}

          {# Display Social icons from _data/social.json  #}
          {% for site in social %}
            {% if site.url %}
              <a aria-label="Link to {{ site.platform }}" alt="Link to {{ site.platform }}" class="hover:{{ colors.socialIconsHoverCustom or colors.socialIconsHoverDefault }}" href="{{ site.url | url }}">
                {% svg site.platform, "mx-2 h-6 w-6 fill-current", site.platform, "footer" %}
              </a>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
      <div class="mt-2 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 {{ colors.footerCustom.text or colors.footerDefault.text }}">
          &copy; {{ build.timestamp | dateToFormat('yyyy') }}, Discovery Years - Early Learning Center
        </p>
      </div>
    </div>
  </div>
</footer>